<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grpstudy.grpware.notice.mapper.NoticeMapper">
    <select id="getNoticeAll" resultMap="noticeMap">
        SELECT notice_no
             , notice_title
             , notice_content
             , notice_writer
             , DATE_FORMAT(regist_dt,'%Y-%m-%d') as regist_dt
        FROM tb_notice
    </select>

    <select id="getNotice" resultMap="noticeMap">
        SELECT notice_no
             , notice_title
             , notice_content
             , notice_writer
             , DATE_FORMAT(regist_dt,'%Y-%m-%d') as regist_dt
        FROM tb_notice
        WHERE notice_no = #{bno} ;
    </select>

    <resultMap id="noticeMap" type="grpstudy.grpware.notice.domain.NoticeVO">
        <result property="noticeNo" column="notice_no" />
        <result property="noticeTitle" column="notice_title" />
        <result property="noticeContent" column="notice_content" />
        <result property="noticeWriter" column="notice_writer" />
        <result property="registDt" column="regist_dt" />
    </resultMap>

</mapper>
