<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grpstudy.grpware.common.mapper.SampleMapper">

    <select id="getSample" resultType="grpstudy.grpware.common.domain.SampleVO">
        select  * from tbl_board where bno = 300
    </select>

</mapper>
