<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mapper에서 파라미터 값이 null로 들어간다면 주석 풀기
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    -->
    <typeAliases>
        <!--<typeAlias type="org.zerock.domain.BoardVO" alias="BoardVO"/>-->
        <!--<package name="grp.study.groupware"/>-->
    </typeAliases>
</configuration>