<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grpstudy.grpware.place.mapper.PlaceMapper">

    <insert id="setPlace" parameterType="PlaceVO">
        INSERT INTO tb_place (place_x, place_y, place_address, place_name)
         VALUE (#{x}, #{y}, #{address}, #{name});
    </insert>

</mapper>
