//
// MIXIN
// --------------------------------------------------

//* @include border-radius(5px);
@mixin border-radius($radius) { 
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius; 
    -ms-border-radius: $radius; 
    border-radius: $radius; 
}

// = clearfix : @include clearfix; 
@mixin clearfix() {
    &:after { 
        content: ""; 
        display: block; 
        clear: both;
    }
}

// = transform
//* 이동(px, %, ..) - @include translate(-50%, -50%); 
@mixin translate($x, $y) { 
    -webkit-transform: translate($x, $y); 
    -moz-transform: translate($x, $y); 
    -ms-transform: translate($x, $y); 
    transform: translate($x, $y); 
}
//* 3D - @include translate3d(-358px, 46px, 0px); 
@mixin translate3d($x, $y, $z) { 
    -webkit-transform: translate3d($x, $y, $z); 
    -moz-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z); 
}
//* 확대(1~) - @include scale(-1, 1);
@mixin scale($sx, $sy) {
    -webkit-transform: scale($sx, $sy);
        -ms-transform: scale($sx, $sy);
            -o-transform: scale($sx, $sy);
            transform: scale($sx, $sy);
}

// = Text
//* textEllipsis 한 줄 @include textEllipsis;
@mixin textEllipsis() {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
//* textEllipsis 여러 줄 @include textEllipsisClamp;
@mixin textEllipsisClamp($line-clamp) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}


// = 미디어 쿼리 MIXIN
// only PC    $tablet-l-width :1024px;
// @include pc {body { ... }}
@mixin pc {
	@media screen and (min-width: #{$tablet-s-width + 1}) {
		@content;
	}
}
// 1600 size
@mixin pc-size-l {
	@media screen and (max-width: #{$desktop-l-width}) {
		@content;
	}
}
// 1460 size
@mixin pc-size-m {
	@media screen and (max-width: #{$desktop-m-width}) {
		@content;
	}
}
// 1024 tablet
@mixin tablet {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 767 Mobile
@mixin mobile {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
