//
// VARIABLES : 변수 정의
// --------------------------------------------------

// == Colors
$gray-base     :#000 !default;
$gray-darker   :lighten($gray-base, 13.5%) !default; // #222
$gray-dark     :lighten($gray-base, 20%) !default;   // #333
$gray          :lighten($gray-base, 33.5%) !default; // #555
$gray-light    :lighten($gray-base, 46.7%) !default; // #777
$gray-lighter  :lighten($gray-base, 93.5%) !default; // #eee

$red     :#dc3545 !default;
$blue    :#0948b3 !default;
$purple  :#6f42c1 !default;
$orange  :#fd7e14 !default;
$yellow  :#ffc107 !default;
$green   :#28a745 !default;
$teal    :#20c997 !default;
$cyan    :#17a2b8 !default;


// == Setting Style
$color-bg       :#fff !default;
$text-color     :$gray-dark !default;
$btn-border     :#ccc !default;


// == FONT-WEIGHTS
$font-weight-regular  : 400;
$font-weight-medium   : 500;
$font-weight-bold     : 700;

// == FONT-SIZE
$font-x-small       :12px;
$font-small         :14px;
$font-medium        :16px;
$font-large         :18px;
$font-large-1       :20px;
$font-large-2       :24px;
$font-large-3       :28px;
$font-large-4       :32px;
$font-large-5       :40px;
$font-large-6       :48px;


// == media query
$desktop-full-width :1920px;
$desktop-l-width	:1600px;
$desktop-m-width	:1460px;
$desktop-s-width	:1284px;
$tablet-l-width		:1024px;
$tablet-s-width		:767px;
$mob-l-width        :640px;
$mob-m-width        :425px;
$mob-s-width        :375px;



