//
// Button
// --------------------------------------------------

// == btn
.btn-group {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 5px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    height: calc(2.75rem + 2px);
    line-height: 2.75rem;
    padding: 0 1.2rem;
    border: 1px solid transparent;
    @include border-radius(4px);
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    color: $text-color;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    //transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

    &.btn-lg {
        min-width: 100px;
        height: calc(2.75rem + 8px);
        line-height: 2.75rem;
        padding: 0 1.6rem;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    &.btn-sm {
        height: 2.45rem;
        line-height: 2.15rem;
        padding: 0 1rem;
        //font-size: .88rem;
    }
}
.btn:disabled, a.disabled {
    cursor: default;
    background-color: rgba(0, 0, 0, .3);
    &:hover {
        cursor: default;
        background-color: rgba(0, 0, 0, .3);
    }
}

.btn-type1 {
    background-color: rgb(9, 87, 204);
    color: #fff;
    &:hover {
        background-color: rgb(12, 75, 170);
    }
}
.btn-type2 {
    background-color: #e50032;
    color: #fff;
    &:hover {
        background-color: #c00c33;
    }
}
.btn-type3 {
    background-color: #282828;
    color: #fff;
    &:hover {
        background-color: #3f3e3e;
    }
}
.btn-type4 {
    background-color: #00a79d;
    color: #fff;
    &:hover {
        background-color: #05807d;
    }
}
.btn-type5 {
    border-color: #ccc;
    background-color: #fff;
    color: #666;
    &:hover {
        border-color: #666;
        color: #333;
    }
}


.badge {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    @include border-radius(2px);
}
.badge-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    @include border-radius(50%);
    background-color: #fff;
    text-indent: -999em;
}
.bg-blue {
    background-color: #0163c6;
}
.bg-yellow {
    background-color: #f6aa49;
}

