//
// Dropdown , dropdown-menu , widget
// --------------------------------------------------

// = Dropdown OR widget Menu
.dropdown-menu {
    display: none;
    float: left;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: auto;
    min-width: 20rem;
    @include border-radius(10px);
    background-color: transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .7);

    .dropdown-menu-header {
        z-index: 6;
        position: relative;
        padding: 1rem .65em;
        @include border-radius(10px 10px 0 0);

        .menu-header-img {
            z-index: 8;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: .65rem .5rem;
            @include border-radius(10px 10px 0 0);
            opacity: .25;
            filter: grayscale(80%);
            background: url("../images/bg/bg_notification_2.jpg");
            background-size: cover;
        }

        .menu-header-content {
            z-index: 10;
            position: relative;
            text-align: center;
            color: #fff;
            text-shadow: 0 0 3px rgba(0, 0, 0, .4);
        }
    }

    .dropdown-menu-conteiner {
        padding: 10px 0;
        @include border-radius(10px);
        background-color: #fff;
    }
}

.dropdown-menu-conteiner {
    .scroll-area {
        overflow-x: hidden;
        position: relative;
        height: 100%;
        padding: .25rem 1rem;

        .timeline {
            position: relative;
            width: 100%;
            padding: .5rem 0;
            font-size: 14px;
            line-height: 20px;

            .timeline-ico {
                display: block;
                position: absolute;
                top: 12px;
                left: 0;
                width: 14px;
                height: 14px;
                @include border-radius(20px);
                background-color: $btn-border;

                &.ico-success {
                    background-color: $green;
                }
                &.ico-failure {
                    background-color: $yellow;
                }
                &.ico-alarm {
                    background-color: $red;
                }
            }
        }
    }
}


// = Dropdown OR widget
.dropdown, .widget {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: .5rem;

    .btn.btn-circle {
        height: auto;
        padding: 0;
        border: 0;
        background-color: transparent;

        .rounded-circle {
            display: inline-flex;
            align-items: center;
            position: relative;
            width: 44px;
            height: 44px;
            text-align: center;
            @include border-radius(50%);
            border: 1px solid #e2e7f3;
            background-color: #e2e7f3;
        }
    }    
}

.dropdown {
    .badge-dot {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        @include border-radius(50%);
        background-color: transparent;
        text-indent: -999em;

        &.show {
            top: 1px;
            background-color: #fd459f;
        }
    }

    &.show {
        .dropdown-menu.show {
            display: block;
            @include translate3d(-290px, 40px, 0px);//위치
            transition: all .3s;
            .menu-header-content > h1 {
                text-transform: uppercase;
                margin-bottom: 4px;
            }
            .dropdown-menu-continer {
                height: 170px;
            }
        }
    }
}

.widget { 
    .rounded-circle {
        text-indent: -999em;
    }
    &.show {
        .dropdown-menu.show {
            display: block;
            min-width: 10rem;
            @include translate3d(-80px, 40px, 0px);//위치
            transition: all .3s ease;
        }
    }
    .dropdown-menu-conteiner {
        height: auto !important;
        > .btn.dropdown-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0 15px;
            margin: 5px 0;
            @include border-radius(0px);
            background-color: transparent;
            color: #999;
            .ico {
                margin-right: 6px;
            }
            &:hover {
                background: rgba(89, 103, 247, .2);
            }
            &.active {
                background-color: #5967f7;
                color: #fff;
            }
        }
        .divider {
            margin: .65rem 0;
        }        
    }
}

// = icon
.icon-wrapper {
    display: flex;
    align-content: center;
    align-items: center;

    i {
        margin: 0 auto;
        font-size: 1.3rem;
    }
}


