//
// Typography
// --------------------------------------------------
@import url("font.css");

// font
.font-noto { font-family: "Noto-Sans" !important; }
.font-noto-medium { font-family: "Noto-Sans-Medium" !important; }
.font-nanum { font-family: "NanumGothic" !important;}
.font-nanum-bold { font-family: "NanumGothic-Bold" !important;}

.text-align-right { text-align: right !important;}

// = Layout
.menu-header-content {
    font-family: "NanumGothic-Bold";
    font-size: 16px;
}
.timeline {
    font-family: "NanumGothic";  
}
.vertical-nav > li{
    font-family: "Noto-Sans-Medium";
    font-size: 18px;

    ul.mm-menu > li {
        font-family: "Noto-Sans";
        font-size: 16px;
    }
}

// = Table
table {
    line-height: 24px;
    font-family: "Noto-Sans";
    font-size: 1rem;
} 

// = Title
.sub-head {
    position: relative;
    margin: 20px 0;
}
.tit-h1 {
    line-height: 2.4rem;
    font-family: "NanumGothic-Bold" !important;
    font-size: 2rem;   
    font-weight: 500; 
    color: #1a1a1a;
}
.tit-h2 {
    line-height: 2.2rem;
    font-family: "NanumGothic-Bold" !important;
    font-size: 1.5rem;   
    font-weight: 500; 
    color: #1a1a1a;
}
.tit-h3 {
    line-height: 2rem;
    font-family: "Noto-Sans-Medium" !important;
    font-size: 1.3rem;   
    font-weight: 500; 
    color: #1a1a1a;
}

// = button
.btn {
    font-family: "Noto-Sans-Medium" !important;
}