@charset "utf-8";
/*!
 * Login
 * Last Date : 21.08.29
 */

/* Noto Sans 폰트 */ 
@font-face {
	font-family: 'Noto-Sans';
	font-style: normal;
	src: url('../fonts/Noto/NotoSans-Regular.eot');
	src: url('../fonts/Noto/NotoSans-Regular.eot#iefix') format('embedded-opentype'),
		 url('../fonts/Noto/NotoSans-Regular.woff') format('woff'),
		 url('../fonts/Noto/NotoSans-Regular.woff2') format('woff2'),
		 url('../fonts/Noto/NotoSans-Regular.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Noto-Sans-Medium';
	font-style: normal;
	src: url('../fonts/Noto/NotoSans-Medium.eot');
	src: url('../fonts/Noto/NotoSans-Medium.eot#iefix') format('embedded-opentype'),
		 url('../fonts/Noto/NotoSans-Medium.woff') format('woff'),
		 url('../fonts/Noto/NotoSans-Medium.woff2') format('woff2'),
		 url('../fonts/Noto/NotoSans-Medium.otf') format('opentype');
	font-weight: 500;
}


/* NanumGothic */
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	src: url('../fonts/NanumGothic-Regular.eot');
	src: url('../fonts/NanumGothic-Regular.eot#iefix') format('embedded-opentype'),
		 url('../fonts/NanumGothic-Regular.woff') format('woff'),
		 url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
		 url('../fonts/NanumGothic-Regular.otf') format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: 'NanumGothic-Bold';
	font-style: normal;
	src: url('../fonts/NanumGothic-Bold.eot');
	src: url('../fonts/NanumGothic-Bold.eot#iefix') format('embedded-opentype'),
		 url('../fonts/NanumGothic-Bold.woff') format('woff'),
		 url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
		 url('../fonts/NanumGothic-Bold.otf') format('opentype');
	font-weight: 600;
}
