/*! Layout Last Date : 21.10.01 */
@import url("font.css");
.dropdown-menu { display: none; float: left; z-index: 1000; position: absolute; top: 0; left: auto; min-width: 20rem; border-radius: 10px; background-color: transparent; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7); }

.dropdown-menu .dropdown-menu-header { z-index: 6; position: relative; padding: 1rem .65em; border-radius: 10px 10px 0 0; }

.dropdown-menu .dropdown-menu-header .menu-header-img { z-index: 8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: .65rem .5rem; border-radius: 10px 10px 0 0; opacity: .25; filter: grayscale(80%); background: url("../images/bg/bg_notification_2.jpg"); background-size: cover; }

.dropdown-menu .dropdown-menu-header .menu-header-content { z-index: 10; position: relative; text-align: center; color: #fff; text-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }

.dropdown-menu .dropdown-menu-conteiner { padding: 10px 0; border-radius: 10px; background-color: #fff; }

.dropdown-menu-conteiner .scroll-area { overflow-x: hidden; position: relative; height: 100%; padding: .25rem 1rem; }

.dropdown-menu-conteiner .scroll-area .timeline { position: relative; width: 100%; padding: .5rem 0; font-size: 14px; line-height: 20px; }

.dropdown-menu-conteiner .scroll-area .timeline .timeline-ico { display: block; position: absolute; top: 12px; left: 0; width: 14px; height: 14px; border-radius: 20px; background-color: #ccc; }

.dropdown-menu-conteiner .scroll-area .timeline .timeline-ico.ico-success { background-color: #28a745; }

.dropdown-menu-conteiner .scroll-area .timeline .timeline-ico.ico-failure { background-color: #ffc107; }

.dropdown-menu-conteiner .scroll-area .timeline .timeline-ico.ico-alarm { background-color: #dc3545; }

.dropdown, .widget { display: flex; align-items: center; position: relative; margin-right: .5rem; }

.dropdown .btn.btn-circle, .widget .btn.btn-circle { height: auto; padding: 0; border: 0; background-color: transparent; }

.dropdown .btn.btn-circle .rounded-circle, .widget .btn.btn-circle .rounded-circle { display: inline-flex; align-items: center; position: relative; width: 44px; height: 44px; text-align: center; border-radius: 50%; border: 1px solid #e2e7f3; background-color: #e2e7f3; }

.dropdown .badge-dot { display: inline-block; position: absolute; top: 0; right: 0; width: 8px; height: 8px; border-radius: 50%; background-color: transparent; text-indent: -999em; }

.dropdown .badge-dot.show { top: 1px; background-color: #fd459f; }

.dropdown.show .dropdown-menu.show { display: block; transform: translate3d(-290px, 40px, 0px); transition: all .3s; }

.dropdown.show .dropdown-menu.show .menu-header-content > h1 { text-transform: uppercase; margin-bottom: 4px; }

.dropdown.show .dropdown-menu.show .dropdown-menu-continer { height: 170px; }

.widget .rounded-circle { text-indent: -999em; }

.widget.show .dropdown-menu.show { display: block; min-width: 10rem; transform: translate3d(-80px, 40px, 0px); transition: all .3s ease; }

.widget .dropdown-menu-conteiner { height: auto !important; }

.widget .dropdown-menu-conteiner > .btn.dropdown-item { display: flex; align-items: center; width: 100%; height: calc(2.25rem + 2px); padding: 0 15px; margin: 5px 0; border-radius: 0px; background-color: transparent; color: #999; }

.widget .dropdown-menu-conteiner > .btn.dropdown-item .ico { margin-right: 6px; }

.widget .dropdown-menu-conteiner > .btn.dropdown-item:hover { background: rgba(89, 103, 247, 0.2); }

.widget .dropdown-menu-conteiner > .btn.dropdown-item.active { background-color: #5967f7; color: #fff; }

.widget .dropdown-menu-conteiner .divider { margin: .65rem 0; }

.icon-wrapper { display: flex; align-content: center; align-items: center; }

.icon-wrapper i { margin: 0 auto; font-size: 1.3rem; }

.font-noto { font-family: "Noto-Sans" !important; }

.font-noto-medium { font-family: "Noto-Sans-Medium" !important; }

.font-nanum { font-family: "NanumGothic" !important; }

.font-nanum-bold { font-family: "NanumGothic-Bold" !important; }

.text-align-right { text-align: right !important; }

.menu-header-content { font-family: "NanumGothic-Bold"; font-size: 16px; }

.timeline { font-family: "NanumGothic"; }

.vertical-nav > li { font-family: "Noto-Sans-Medium"; font-size: 18px; }

.vertical-nav > li ul.mm-menu > li { font-family: "Noto-Sans"; font-size: 16px; }

table { line-height: 24px; font-family: "Noto-Sans"; font-size: 1rem; }

.sub-head { position: relative; margin: 20px 0; }

.tit-h1 { line-height: 2.4rem; font-family: "NanumGothic-Bold" !important; font-size: 2rem; font-weight: 500; color: #1a1a1a; }

.tit-h2 { line-height: 2.2rem; font-family: "NanumGothic-Bold" !important; font-size: 1.5rem; font-weight: 500; color: #1a1a1a; }

.tit-h3 { line-height: 2rem; font-family: "Noto-Sans-Medium" !important; font-size: 1.3rem; font-weight: 500; color: #1a1a1a; }

.btn { font-family: "Noto-Sans-Medium" !important; }

.modal { z-index: 1050; display: none; overflow: hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; outline: 0; }

.modal.show { opacity: 1; background: rgba(0, 0, 0, 0.5); }

.modal-dialog { position: relative; width: auto; max-width: 400px; margin: 1.75rem auto; border-radius: 10px; box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); pointer-events: none; }

.modal-dialog.modal-lg { max-width: 550px; }

.modal-dialog.modal-sm { max-width: 450px; }

.modal-dialog .modal-content { position: relative; display: flex; flex-direction: column; width: 100%; border-radius: 10px; background-color: #fff; background-clip: padding-box; outline: 0; pointer-events: auto; }

.modal-dialog .modal-content .modal-header { display: flex; align-items: flex-start; justify-content: space-between; padding: 1rem 1.1rem; border-radius: 10px 10px 0 0; background-color: #00264d; }

.modal-dialog .modal-content .modal-header .tit-h3 { color: #fff; }

.modal-dialog .modal-content .modal-header .btn-close { height: 26px; line-height: 26px; padding: 0 4px; border-color: transparent; background-color: transparent; font-size: 1.4rem; color: #fff; }

.modal-dialog .modal-body { align-items: flex-start; padding: 1.8rem 1.2rem 2rem; }

.modal-dialog .modal-body .item { margin: 0 1rem; }

.modal-dialog .modal-body .photo { flex-grow: 0; flex-shrink: 1; flex-basis: 130px; width: 130px; border: 1px solid #ddd; text-align: center; }

.modal-dialog .modal-body .photo img { width: 100%; height: auto; }

.modal-dialog .modal-body .view-li { flex-grow: 1; flex-shrink: 1; flex-basis: auto; padding: .56rem 1rem; border-top: 1px solid #757575; border-bottom: 1px solid #bbb; }

.modal-dialog .modal-body .view-li li { display: table; line-height: 20px; padding: .56rem 0; font-size: 1rem; }

.modal-dialog .modal-body .view-li li .tit { display: table-cell; position: relative; width: 90px; }

.modal-dialog .modal-body .view-li li .tit.tit::before { content: ''; position: absolute; top: 8px; right: 0; width: 1px; height: 8px; background-color: #ddd; }

.modal-dialog .modal-body .view-li li .data { padding-left: 1rem; }

.modal-dialog .modal-body .flex-wrap { display: flex; flex-wrap: wrap; }

.modal-dialog .modal-body .flex-wrap.flex-type1 li { flex-grow: 1; flex-shrink: 1; flex-basis: 40%; }

.modal-dialog .modal-body .flex-wrap.flex-type2 li { flex-grow: 1; flex-shrink: 1; flex-basis: auto; }

.modal-dialog .modal-body .flex-wrap li .text-content { width: 100%; padding: 1rem; border: 1px solid #d6d6d6; }

.modal-dialog .modal-body .flex-wrap li.li-search > :nth-child(1) { float: left; margin-right: 1rem; }

.modal-dialog .modal-body .flex-wrap li.li-search .d-flex { float: left; width: calc(100% - 190px); }

.modal-dialog .modal-body .flex-wrap li.li-search .d-flex input { width: calc(100% - 62px); border-right: 0; }

.modal-dialog .modal-body .flex-wrap li.li-search .d-flex .btn { width: 62px; border-radius: 0; }

.modal-dialog .modal-body .tbl-edit { border-top: 1px solid #757575; border-bottom: 1px solid #bbb; }

.modal-dialog .modal-body .tbl-edit th { width: 90px; padding: .56rem; }

.modal-dialog .modal-body .tbl-edit td { padding: .56rem; }

.modal-dialog .modal-foot { display: flex; justify-content: center; padding: 0 1.2rem 1.2rem; }

.container-flex-wrap { flex-wrap: wrap; }

.container-align-start { align-items: flex-start; }

.justify-center { justify-content: center; }

.d-flex { display: flex; }

.d-block { display: block; }

.m-0 { margin: 0 !important; }

.p-0 { padding: 0 !important; }

.p-3 { padding: 1rem !important; }

.ml-2 { margin-left: .5rem !important; }

.mt-10 { margin-top: 10px !important; }

.mt-20 { margin-top: 20px !important; }

.mb-10 { margin-bottom: 10px !important; }

.mb-20 { margin-bottom: 20px !important; }

.pt-10 { padding-top: 10px !important; }

.pt-20 { padding-top: 20px !important; }

.pb-10 { padding-bottom: 10px !important; }

.pb-20 { padding-bottom: 20px !important; }

.opacity-5 { opacity: .5 !important; }

.opacity-8 { opacity: .8 !important; }

.bg-deep { background-image: linear-gradient(120deg, #a17cc3 0%, #0b3968 100%) !important; }

#wrap { position: relative; width: 100%; height: 100vh; background-color: #fff; }

header#header { display: flex; align-items: center; position: fixed; z-index: 100; width: 100%; height: 60px; border-bottom: 1px solid #06359e; background-color: #fff; }

header#header h1.logo { width: 260px; height: 40px; background: url("../images/commom/logo_nsys_2.png") no-repeat 30px 4px; background-size: auto 34px; font-size: 0; text-indent: -999em; }

header#header .app-header { display: flex; flex: 1; justify-content: flex-end; align-items: center; align-content: center; padding: 0 1.5rem; }

header#header .app-header .app-wrap-right { position: relative; margin-left: 1.5rem; padding-left: 1.5rem; }

header#header .app-header .app-wrap-right::before { content: ''; position: absolute; left: -1px; top: 20%; width: 1px; height: 30px; background: #dee2e6; }

header#header .app-header .timeline a { display: block; margin-left: 20px; }

.container { display: flex; flex: 1; z-index: 5; min-height: 700px; position: relative; padding-top: 60px; }

nav#navigation { display: flex; overflow: hidden; z-index: 10; position: fixed; min-width: 240px; height: 100vh; flex: 0 0 240px; margin-top: -60px; padding-top: 60px; background-color: #0948b3; transition: all .2s; }

nav#navigation > .inner { overflow-y: auto; position: relative; width: 100%; padding: 0 1.5rem; }

nav#navigation > .inner > .bg { width: 110px; height: 110px; margin: 44px auto; background: url("../images/commom/logo_1.png") no-repeat center/88% auto; opacity: .6; }

nav#navigation > .inner .vertical-nav { position: relative; }

nav#navigation > .inner .vertical-nav a { display: block; position: relative; color: #fff; border-radius: 0.25rem; white-space: nowrap; transition: all .2s; }

nav#navigation > .inner .vertical-nav > li > ul.mm-menu { overflow: hidden; height: 0; opacity: 0; transition: all .3s; }

nav#navigation > .inner .vertical-nav > li:hover > ul.mm-menu, nav#navigation > .inner .vertical-nav > li.active > ul.mm-menu.show { height: auto; opacity: 1; }

.vertical-nav > li { margin-bottom: 16px; }

.vertical-nav > li > a { line-height: 44px; padding: 0 0 0 15px; }

.vertical-nav > li > a i.ico { position: absolute; top: 50%; right: 10px; width: 20px; line-height: 20px; margin-top: -12px; font-size: 14px; text-align: center; opacity: .4; transition: transform 300ms; }

.vertical-nav > li > a.active, .vertical-nav > li > a:hover { background-color: #1657c5; }

.vertical-nav > li > a.active i.ico, .vertical-nav > li > a:hover i.ico { opacity: .7; }

.vertical-nav > li.active > a i.ico { transform: rotate(-180deg); }

.vertical-nav > li ul.mm-menu { position: relative; margin-top: 10px; padding: .5em 0 0 1.6rem; transition: padding 300ms; }

.vertical-nav > li ul.mm-menu:before { content: ''; position: absolute; left: 10px; top: 0; width: 2px; height: 100%; border-radius: 15px; opacity: .8; background: #e0f3ff; }

.vertical-nav > li ul.mm-menu > li { margin-bottom: 12px; }

.vertical-nav > li ul.mm-menu > li > a { line-height: 20px; padding-bottom: 2px; color: #fff; }

.vertical-nav > li ul.mm-menu > li > a.active, .vertical-nav > li ul.mm-menu > li > a:hover, .vertical-nav > li ul.mm-menu > li > a .active { color: #ffe687 !important; }

.content { display: flex; flex: 1; flex-direction: column; overflow-x: auto; min-width: 935px; padding: 1rem 3rem 3rem 280px; }

.error { margin: 3% auto 0; padding: 30px 0 15px; background-color: ivory; }

.error .error { max-width: 600px; min-height: 300px; padding: 50px 205px 50px 30px; border-top: 2px solid #333; border-bottom: 2px solid #333; background: ivory url("../images/commom/error.png") no-repeat 100% 70px; }

.error .error #logo { display: inline-block; height: 54px; width: 150px; background: url("../images/commom/logo_nsys_1.png") no-repeat; }

.error .error p { overflow: hidden; line-height: 2rem; margin: 16px 0 22px; font-size: 1.2rem; }

.error .error p code { font-size: 1.6rem; font-weight: 500; }

.error .error p ins { color: #777; text-decoration: none; }
/*# sourceMappingURL=layout.css.map */