/*! Login Last Date : 21.09.13 */
.w-100 { width: 100%; }

.search-wrap { display: flex; justify-content: center; position: relative; margin-bottom: 30px; padding: 20px 30px; background-color: #f4f5f9; }

.search-wrap div:nth-child(1) { flex: 0 1 160px; margin-right: 20px; }

.search-wrap div:nth-child(2) { flex: 1 1 calc(100% - 180px); }

.search-wrap .group-select { height: calc(2.75rem + 2px); background-color: #fff; }

.search-wrap .group-select select { width: 100%; }

.search-wrap .group-search { height: calc(2.75rem + 2px); border: 1px solid #d6d6d6; background-color: #fff; }

.search-wrap .group-search input { width: calc(100% - 54px); height: 2.7rem; border: 0; }

.search-wrap .group-search .btn { width: 50px; height: 2.7rem; border: 0; background-color: #fff; }

label { display: inline-block; vertical-align: middle; font-size: 1rem; }

input[type=checkbox] + label, input[type=radio] + label { display: inline-block; position: relative; margin-right: 20px; padding-left: 28px; line-height: 20px; color: #101010; cursor: pointer; }

input[type=checkbox] + label::before { content: ''; display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 20px; height: 20px; border-radius: 3px; border: 1px solid #ccc; }

input[type=checkbox]:checked + label::before { border-color: #0053cd; background-color: #0053cd; }

input[type=checkbox]:checked + label::after { content: ''; display: block; overflow: hidden; position: absolute; top: 50%; left: 4px; width: 14px; height: 14px; border-radius: 3px; background: url("../images/commom/bg_checkbox_chk.png") no-repeat center/88% auto; transform: translateY(-50%); }

input[type=radio] + label::before { content: ''; display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 20px; height: 20px; border-radius: 20px; border: 1px solid #ccc; }

input[type=radio]:checked + label::after { content: ''; display: block; overflow: hidden; position: absolute; top: 50%; left: 0; width: 20px; height: 20px; border-radius: 20px; background: #0053cd url("../images/commom/bg_checkbox_chk.png") no-repeat center/50% auto; background-color: #0053cd; transform: translateY(-50%); }

input::placeholder { font-size: 1rem; color: #a1a1a1; }

input[type=text], input[type=password], input[type=search], input[type=email], input[type=file], input[type=url], input[type=number], input[type=date], input[type=tel] { vertical-align: middle; height: calc(2.75rem + 2px); padding: 0 10px; border-radius: 2px; border: 1px solid #d6d6d6; background-color: #fff; font-size: 1rem; appearance: none; -moz-appearance: none; -webkit-appearance: none; }

input[type=file] { overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0, 0, 0, 0); border: 0; }

input[type=file] + label { display: inline-block; position: relative; line-height: 24px; padding: 0 12px; font-size: 12px; color: #fff; border-radius: 12px; background-color: #495057; cursor: pointer; }

select { position: relative; height: calc(2.75rem + 2px); padding: 4px 40px 0 20px; border: 1px solid #d6d6d6; background: #fff url("../images/commom/ico_selectArrB.png") no-repeat right 13px top 50%; font-size: 1rem; appearance: none; -moz-appearance: none; -webkit-appearance: none; }

select:hover, select:checked { background: #fff url("../images/commom/ico_selectArrB.png") no-repeat right 13px top 50%; }

input[type=tel][disabled], input[type=text][disabled], input[type=password][disabled], input[type=search][disabled], input[type=email][disabled], input[type=number][disabled] { background: #f5f5f5; border-color: #d1d1d1; color: #bbb; }

input[type=checkbox][disabled] + label, input[type=radio][disabled] + label { cursor: default; }

input[type=checkbox][disabled] + label::before, input[type=radio][disabled] + label::before { background-color: #f5f5f5; border-color: #d1d1d1; }

.bg-deep-blue { background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%) !important; }

.bg-deep-plum { background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important; }

#page-login { display: flex; flex-flow: row wrap; position: relative; width: 100%; height: 100%; }

#page-login .col-bg { display: flex; flex: 0 0 35%; justify-content: center; z-index: 1; width: 33.333%; transition: all .3s ease; }

#page-login .col-content { display: flex; justify-content: center; align-items: center; flex: 0 0 65%; }

#page-login .col-content .app-login { padding: 4rem; }

#page-login .col-content .btn { min-width: 160px; height: calc(2.75rem + 8px); padding: 0 20px; border-radius: 2px; border: 1px solid transparent; background-color: #0d6efd; font-size: 1.25rem; text-transform: uppercase; color: #fff; cursor: pointer; }

.col-bg { position: relative; overflow: hidden; height: 100vh; }

.col-bg .bg-deep-plum { display: block; position: absolute; top: 0; width: 100%; height: 100%; }

.col-bg .slide-img-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: 50% 50%; opacity: .4; }

.col-bg .slide-content { align-self: center; position: relative; top: 0; width: 300px; height: 290px; background-size: 90% auto; background-repeat: no-repeat; background-position: center; }

.col-content .app-logo { width: 114px; height: 48px; margin-bottom: .65rem; background: url("../images/commom/logo_nsys_1.png") no-repeat 0 0; text-indent: -999em; color: #fff; transition: all .3s ease; }

.col-content p { margin-bottom: 1rem; font-size: 1.1rem; line-height: 30px; color: #7a7a7a; }

.col-content .form-row { display: flex; flex-wrap: wrap; position: relative; margin: 8px -5px 0 -5px; }

.col-content .form-row .form-group { flex: 0 0 50%; padding: 0 5px; }

.col-content .form-row .form-group label { margin: 1rem 0 1rem 0; font-size: 1.1rem; font-weight: 500; }

.col-content .form-row .form-check { display: block; position: relative; margin-top: 1.1rem; padding: 0 5px 20px 5px; }

.col-content .form-row .form-btn { position: absolute; bottom: -30%; right: 0; }

@media screen and (max-width: 1024px) { .col-bg .slide-content { background-size: 60% auto; }
  .col-content { padding: 4rem; } }
/*# sourceMappingURL=login.css.map */