/*!
 * Sub Page Notice 
 * Last Date : 21.09.03
 */
@import url("font.css");
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  margin-top: 30px;
  text-align: center;
}

.pagination li {
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  margin: 0 2px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.pagination li.btn-page::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.pagination li a {
  display: block;
}

.pagination li.active {
  border: 1px solid #06F;
  background-color: #06F;
  color: #fff;
  font-weight: 500;
}

.pagination li:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

.tbl.list table {
  width: 100%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #ccc;
  border-collapse: separate;
  border-spacing: 0;
}

.tbl.list table th, .tbl.list table td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
}

.tbl.list table thead th {
  padding: 12px 20px 14px;
  border-bottom: 1px solid #efefef;
  background: #fff;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.4px;
}

.tbl.list table thead th:first-child {
  border-left: none;
}

.tbl.list table tbody td {
  padding: 15px 20px;
  line-height: 27px;
  border-top: 1px solid #e5e7ee;
  text-align: center;
  color: #333;
  letter-spacing: -0.54px;
}

.tbl.list table tbody tr:first-child td {
  border-top: 0;
}

.tbl.list table tbody tr:hover td {
  background-color: #f5f5f5;
  cursor: pointer;
}

.tbl.list table tbody tr.on td, .tbl.list table tbody tr:active td {
  background-color: #f0f7ff;
}

.tbl.list table tr.no-data:hover td, .tbl.list table tr.on.no-data td {
  background-color: transparent;
  cursor: default;
}

tr.no-data td {
  position: relative;
}

tr.no-data td .no-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

tr.no-data td .no-data i {
  margin-bottom: 20px;
  font-size: 5rem;
  color: #757575;
}

.board.view {
  border-top: 1px solid #757575;
}

.board.view .view-head .subject {
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  font-size: 2rem;
  word-break: keep-all;
}

.board.view .view-head .view-info {
  padding: 1.8rem 2rem;
  border-bottom: 1px solid #a0a0a0;
  background-color: #f8f9fa;
}

.board.view .view-head .view-info ul li {
  float: left;
  padding-left: 2rem;
}

.board.view .view-head .view-info ul li:first-child {
  padding-left: 0;
}

.board.view .view-head .view-info ul:after {
  content: "";
  display: block;
  clear: both;
}

.board.view .view-head .view-file {
  display: table;
  width: 100%;
  padding: 1.8rem 0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #f8f9fa;
}

.board.view .view-head .view-file .tit {
  display: table-cell;
  width: 15%;
  padding: 0 2rem;
  font-weight: normal;
  color: #222;
}

.board.view .view-head .view-file .file-wrap {
  display: table-cell;
}

.board.view .view-cont {
  padding: 3rem 2rem;
  border-bottom: 1px solid #ddd;
}

.view-nav {
  margin-top: 5rem;
  position: relative;
  border-top: 1px solid #a0a0a0;
}

.view-nav li {
  padding: 1.5rem 0;
}

.view-nav li span {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.view-nav li span.title {
  position: relative;
  width: 15%;
  padding-left: 4rem;
  font-family: 'notokrMedium';
  color: #222;
}

.view-nav li span.date {
  width: 15%;
  padding: 0 2rem;
  text-align: right;
  font-size: .86rem;
  color: #777 !important;
}

.view-nav li a {
  display: block;
  width: 70%;
  float: left;
}

.view-nav li:after {
  content: "";
  display: block;
  clear: both;
}

.view-nav .prev {
  border-bottom: 1px solid #ddd;
}

.view-nav .prev span.title::before {
  width: 6px;
  height: 6px;
  background-color: transparent;
  content: '';
  margin-top: -3px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  position: absolute;
  top: 50%;
  left: 2rem;
  bottom: auto;
  right: auto;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.view-nav .next {
  border-bottom: 1px solid #a0a0a0;
}

.view-nav .next span.title::before {
  width: 6px;
  height: 6px;
  background-color: transparent;
  content: '';
  margin-top: -6px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  position: absolute;
  top: 50%;
  left: 2rem;
  bottom: auto;
  right: auto;
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.board.edit {
  border-top: 1px solid #757575;
}

.board.edit .edit-head {
  padding-top: 1.6rem;
  border-bottom: 1px solid #a0a0a0;
}

.board.edit .edit-head .row + .row {
  padding-top: 1.6rem;
}

.board.edit .edit-head .row .item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.board.edit .edit-head .item-set .item-fi {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin-right: 20px;
}

.board.edit .edit-head .item-set .item-tw {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 360px);
          flex: 1 1 calc(100% - 360px);
}

.board.edit .edit-head .edit-file {
  display: table;
  width: 100%;
  padding: 1.8rem;
  margin-top: 1.8rem;
  border-top: 1px solid #a0a0a0;
  background-color: #f8f9fa;
}

.board.edit .edit-head .edit-file .btn {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin-top: -2px;
  margin-left: 10px;
  border-radius: 2px;
  font-size: 12px;
}

.board.edit .edit-head .edit-file .tit {
  display: table-cell;
  width: 200px;
  line-height: 1.75rem;
  padding: 0 2rem;
  margin-right: 20px;
  font-weight: normal;
  color: #222;
}

.board.edit .edit-head .edit-file .file-area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}

.board.edit .edit-head .edit-file .file-area .btn-del {
  margin-left: 0;
  border-radius: 12px;
}

.board.edit .edit-head .edit-file .file-area .find-file {
  display: inline-block;
  height: 24px;
  padding-left: 15px;
  border-radius: 12px;
  background-color: #fff;
}

.board.edit .edit-head .edit-file .file-area .find-file .inp-file-name {
  height: 24px;
  line-height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #666;
}

.board.edit .edit-cont {
  width: 100%;
  min-height: 300px;
  padding: 2rem 1.6rem;
  border-bottom: 1px solid #757575;
}

.tbl.edit {
  width: 100%;
  border-top: 1px solid #757575;
  border-collapse: separate;
}

.tbl.edit tbody::before, .tbl.edit tbody::after {
  content: '';
  display: block;
  width: 100%;
  border-top: 14px solid transparent;
}

.tbl.edit th, .tbl.edit td {
  padding: 10px 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tbl.edit th {
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
  text-align: left;
  letter-spacing: -0.4px;
  word-break: keep-all;
}

.tbl.edit td {
  text-align: left;
  font-size: 1rem;
  color: #333;
  letter-spacing: -0.54px;
}

.search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color: #f4f5f9;
}

.search-wrap div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  margin-right: 20px;
}

.search-wrap div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 180px);
          flex: 1 1 calc(100% - 180px);
}

.search-wrap .group-select {
  height: calc(2.75rem + 2px);
  background-color: #fff;
}

.search-wrap .group-select select {
  width: 100%;
}

.search-wrap .group-search {
  height: calc(2.75rem + 2px);
  border: 1px solid #d6d6d6;
  background-color: #fff;
}

.search-wrap .group-search input {
  width: calc(100% - 54px);
  height: 2.7rem;
  border: 0;
}

.search-wrap .group-search .btn {
  width: 50px;
  height: 2.7rem;
  border: 0;
  background-color: #fff;
}

label {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  padding-left: 28px;
  line-height: 20px;
  color: #101010;
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: '';
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type=checkbox]:checked + label::before {
  border-color: #0053cd;
  background-color: #0053cd;
}

input[type=checkbox]:checked + label::after {
  content: '';
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: url("../images/commom/bg_checkbox_chk.png") no-repeat center/88% auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type=radio] + label::before {
  content: '';
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

input[type=radio]:checked + label::after {
  content: '';
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #0053cd url("../images/commom/bg_checkbox_chk.png") no-repeat center/50% auto;
  background-color: #0053cd;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #a1a1a1;
}

input:-ms-input-placeholder {
  font-size: 1rem;
  color: #a1a1a1;
}

input::-ms-input-placeholder {
  font-size: 1rem;
  color: #a1a1a1;
}

input::placeholder {
  font-size: 1rem;
  color: #a1a1a1;
}

input[type=text], input[type=password], input[type=search], input[type=email], input[type=file], input[type=url], input[type=number], input[type=date], input[type=tel] {
  vertical-align: middle;
  height: calc(2.75rem + 2px);
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  font-size: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type=file] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type=file] + label {
  display: inline-block;
  position: relative;
  line-height: 24px;
  padding: 0 12px;
  font-size: 12px;
  color: #fff;
  border-radius: 12px;
  background-color: #495057;
  cursor: pointer;
}

select {
  position: relative;
  height: calc(2.75rem + 2px);
  padding: 4px 40px 0 20px;
  border: 1px solid #d6d6d6;
  background: #fff url("../images/commom/ico_selectArrB.png") no-repeat right 13px top 50%;
  font-size: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select:hover, select:checked {
  background: #fff url("../images/commom/ico_selectArrB.png") no-repeat right 13px top 50%;
}

input[type=tel][disabled], input[type=text][disabled],
input[type=password][disabled], input[type=search][disabled],
input[type=email][disabled], input[type=number][disabled] {
  background: #f5f5f5;
  border-color: #d1d1d1;
  color: #bbb;
}

input[type=checkbox][disabled] + label,
input[type=radio][disabled] + label {
  cursor: default;
}

input[type=checkbox][disabled] + label::before,
input[type=radio][disabled] + label::before {
  background-color: #f5f5f5;
  border-color: #d1d1d1;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row .form-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 5px;
}

.form-row .form-check {
  display: block;
  position: relative;
  padding: 0 5px;
}

.w-100 {
  width: 100%;
}

.btn-group {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 5px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  height: calc(2.75rem + 2px);
  line-height: 2.75rem;
  padding: 0 1.2rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  color: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn.btn-lg {
  min-width: 100px;
  height: calc(2.75rem + 8px);
  padding: 0 1.6rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn.btn-sm {
  height: calc(2.75rem);
  padding: 0 1rem;
  font-size: .88rem;
}

.btn-type1 {
  background-color: #0d6efd;
  color: #fff;
}

.btn-type1:hover {
  background-color: #095edd;
}

.btn-type2 {
  background-color: #e50032;
  color: #fff;
}

.btn-type2:hover {
  background-color: #c00c33;
}

.btn-type3 {
  background-color: #282828;
  color: #fff;
}

.btn-type3:hover {
  background-color: #3f3e3e;
}

.btn-type4 {
  background-color: #00a79d;
  color: #fff;
}

.btn-type4:hover {
  background-color: #05807d;
}

.btn-type5 {
  border-color: #ccc;
  background-color: #fff;
  color: #666;
}

.btn-type5:hover {
  border-color: #666;
  color: #333;
}

.badge {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
}

.badge-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #fff;
  text-indent: -999em;
}

.bg-blue {
  background-color: #0163c6;
}

.bg-yellow {
  background-color: #f6aa49;
}

.font-noto {
  font-family: "Noto-Sans" !important;
}

.font-noto-medium {
  font-family: "Noto-Sans-Medium" !important;
}

.font-nanum {
  font-family: "NanumGothic" !important;
}

.font-nanum-bold {
  font-family: "NanumGothic-Bold" !important;
}

.text-align-right {
  text-align: right !important;
}

.menu-header-content {
  font-family: "NanumGothic-Bold";
  font-size: 16px;
}

.timeline {
  font-family: "NanumGothic";
}

.vertical-nav > li {
  font-family: "Noto-Sans-Medium";
  font-size: 18px;
}

.vertical-nav > li ul.mm-menu > li {
  font-family: "Noto-Sans";
  font-size: 16px;
}

table {
  line-height: 24px;
  font-family: "font-noto";
  font-size: 1rem;
}

.sub-head {
  position: relative;
  margin: 20px 0;
}

.titl-h1 {
  line-height: 32px;
  font-family: "NanumGothic-Bold" !important;
  font-size: 2rem;
  font-weight: 500;
  color: #1a1a1a;
}

.titl-h2 {
  line-height: 26px;
  font-family: "NanumGothic-Bold" !important;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1a1a1a;
}

.search-wrap.type2 div:nth-child(1), .search-wrap.type2 div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  margin-right: 20px;
}

.search-wrap.type2 div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 360px);
          flex: 1 1 calc(100% - 360px);
}
/*# sourceMappingURL=notice.css.map */