<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grpstudy.grpware.auth.mapper.MemberMapper">

    <resultMap id="memberMap" type="memberVO">
        <id property="memberId" column="member_id" />
        <result property="memberNo" column="member_no" />
        <result property="memberId" column="member_id" />
        <result property="memberPw" column="member_pw" />
        <result property="memberNm" column="member_nm" />
        <result property="memberBirth" column="member_birth" />
        <result property="memberMail" column="member_mail" />
        <result property="memberPhone" column="member_phone" />
        <collection property="authList" resultMap="authMap" />
    </resultMap>
    <resultMap id="authMap" type="grpstudy.grpware.auth.domain.AuthVO">
        <result property="authId" column="auth_id" />
        <result property="authAuth" column="auth_auth" />
    </resultMap>

    <select id="read" resultMap="memberMap">
        select  a.member_no
             ,  a.member_id
             ,  a.member_pw
             ,  a.member_nm
             ,  a.member_birth
             ,  a.member_mail
             ,  a.member_phone
             ,  b.auth_id
             ,  b.auth_auth
        from  tb_member a, tb_auth b
        where a.member_id = b.auth_id
        and   a.member_id = #{memberId}
              /*'${@grpstudy.grpware.common.utils.CommonUtils@getLoginId()}'*/
        <if test="@grpstudy.grpware.common.utils.MapperUtil@isNotBlank(userPw)">
            AND a.member_pw = #{userPw}
        </if>
    </select>

    <select id="getMemberAll" resultMap="memberMap">
        select tm.member_no
             , tm.member_nm
             , tm.member_id
             , tm.member_mail
             , tm.member_phone
             , DATE_FORMAT(tm.member_birth,'%Y-%m-%d') AS member_birth
             , ta.auth_auth
        from tb_member tm LEFT OUTER JOIN tb_auth ta ON tm.member_id = ta.auth_id
    </select>

    <delete id="deleteMember" parameterType="string">
        DELETE FROM tb_member WHERE member_id = '${@grpstudy.grpware.common.utils.CommonUtils@getLoginId()}'
    </delete>

    <update id="updateAuth" parameterType="string">
        UPDATE tb_auth
           SET auth_auth = #{auth}
         WHERE auth_id = #{id}
    </update>

</mapper>
